{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <strong> Select an action </strong>
    <form action="/editprofile" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="change" name="change" placeholder="Select option" type="text">
                <option disabled selected>Choose one</option>
                <option>Delete Post</option>
                <option>Change Username</option>
                <option>Change Password</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Select</button>
    </form>
{% endblock %}